/*remove default checkbox*/
#hamburger-x {
  display: none;
}

/*remove highlighting on click*/
#hamburger-x-label {
  user-select: none;
}

/*add finger cursor*/
#hamburger-x + #hamburger-x-label {
  cursor: pointer;
}

/*styling the bars*/
.bar {
  background-color: black;
  width: 80px;
  height: 10px;
  border-radius: 5px;
}

/*positioning the bars*/
#hamburger-x-label div:nth-child(1) {
  background-color: black;
  position: fixed;
}

#hamburger-x-label div:nth-child(2) {
  background-color: black;
  position: fixed;
  margin-top: 25px;
}

#hamburger-x-label div:nth-child(3) {
  background-color: black;
  position: fixed;
  margin-top: 50px;
}


/*animations for the bars when checked*/
@keyframes combine-top {
  0% {margin-top: 0px; transform: rotate(0deg);}
  50% {margin-top: 25px; transform: rotate(0deg);}
  75% {margin-top: 25px; transform: rotate(0deg);}
  100% {margin-top: 25px; transform: rotate(-45deg)}
}

@keyframes combine-bottom {
  0% {margin-top: 50px; transform: rotate(0deg)}
  50% {margin-top: 25px; transform: rotate(0deg)}
  75% {margin-top: 25px; transform: rotate(0deg)}
  100% {margin-top: 25px; transform: rotate(45deg)}
}

@keyframes rotate-middle {
  0% {transform: rotate(0deg)}
  50% {transform: rotate(0deg)}
  75% {transform: rotate(0deg)}
  100% {transform: rotate(-45deg)}
}

/*checking the hamburger and running animations*/
#hamburger-x:checked + #hamburger-x-label div:nth-child(1) {
  animation: combine-top .2s linear forwards
}

#hamburger-x:checked + #hamburger-x-label div:nth-child(2) {
  animation: rotate-middle .2s linear forwards;
}

#hamburger-x:checked + #hamburger-x-label div:nth-child(3) {
  animation: combine-bottom .2s linear forwards;
}


/*animations for the bars when unchecked*/
@keyframes separate-top {
  0% {margin-top: 25px; transform: rotate(-45deg)}
  50% {margin-top: 25px; transform: rotate(0deg);}
  75% {margin-top: 25px; transform: rotate(0deg);}
  100% {margin-top: 0px; transform: rotate(0deg);}
}

@keyframes separate-bottom {
  0% {margin-top: 25px; transform: rotate(45deg)}
  50% {margin-top: 25px; transform: rotate(0deg)}
  75% {margin-top: 25px; transform: rotate(0deg)}
  100% {margin-top: 50px; transform: rotate(0deg)}
}

@keyframes flatten-middle {
  0% {transform: rotate(-45deg)}
  50% {transform: rotate(0deg)}
  75% {transform: rotate(0deg)}
  100% {transform: rotate(0deg)}
}

/*unchecking the hamburger and running animations*/
#hamburger-x:not(:checked) + #hamburger-x-label div:nth-child(1) {
  animation: separate-top .2s linear forwards;
}

#hamburger-x:not(:checked) + #hamburger-x-label div:nth-child(2) {
  animation: flatten-middle .2s linear forwards;
}

#hamburger-x:not(:checked) + #hamburger-x-label div:nth-child(3) {
  animation: separate-bottom .2s linear forwards;
}
